.DS_Store
/**/.idea/
/**/.env
/**/node_modules/
/**/package.lock
/**/yarn-error.log
/**/tmp/uploads/*
!/**/tmp/uploads/.gitkeep
/**/dist/*
/**/tmp/mysql/*
/**/tmp/redis/*
!/**/tmp/mysql/.gitkeep
!/**/tmp/redis/.gitkeep
/**/tsconfig.tsbuildinfo
/**/__tests__/**/database.sqlite
